<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FinancesClient</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Expenses
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="incomes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Incomes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="financialstatement">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Financial Statement
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dailyfinancialstatement">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Daily Financial Statement
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addoperations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Operations
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
