@using FinancesClient.Data

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>BalanceChange</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var operation in Operations)
        {
            <tr class="data-output">
                <td class="date">@operation.Date.ToShortDateString()</td>
                <td class="type">@operation.Type</td>
                <td class="balance-change">@operation.BalanceChange</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<FinancialOperation> Operations { get; set; }
}
