@page "/addoperations"

@using FinancesClient.Services 
@using FinancesClient.Data
@inject IFinancesService FinancesService

<h1>Add Operations</h1>

<h3>Plese, enter data for an operation</h3>
<br />
<p>Date</p>
<input @bind="@date" type="date" />
<br />
<p>Type</p>
<input @bind="@type" />
<br />
<p>Balance Change</p>
<input @bind="@balanceChange" />
<br />
<br />
<button @onclick="AddOperationToPOSTList">Add To List</button>

@if (POSTList.Count == 0)
{
    <p>Operations to add:</p>
    <OutputTable Operations="@POSTList" />
    <br />
    <br />
    <button @onclick="POSTOperations">Save All Operations</button>
}

@code {
    private List<FinancialOperation> POSTList;
    private DateTime date;
    private string type;
    private decimal balanceChange;

    protected override async Task OnInitializedAsync()
    {
        POSTList = new List<FinancialOperation>();
    }

    private void AddOperationToPOSTList()
    {
        POSTList.Add(new FinancialOperation { BalanceChange = balanceChange, Date = date, Type = type });
    }

    private async void POSTOperations()
    {
        await FinancesService.AddOperations(POSTList);
    }
}