@page "/dailyfinancialstatement"

@using FinancesClient.Services

@inject IFinancesService FinancesService
@inject IJSRuntime JsRuntime

<h1>Daily Financial Statement</h1>

@if (statement == null)
{
    <h3>Plese, enter a date</h3>
    <br />
    <p>Date</p>
    <input @bind="@date" type="date" />
    <br />
    <br />
    <button @onclick="GetFinancialStatement">Get Financial Statement</button>
}
else
{
    <FinancialStatementOutput Statement="@statement" />
}

@code {
    private Data.FinancialStatement statement;
    private DateTime date;

    private async Task GetFinancialStatement()
    {
        try
        {
            statement = await FinancesService.GetDailyFinancialStatement(date);
        }
        catch (Exception ex)
        {
            await Alert(ex.Message);
        }
    }

    private async Task Alert(string message)
    {
        await JsRuntime.InvokeVoidAsync("Alert", message);
    }
}