@page "/expenses"

@using FinancesClient.Data
@using FinancesClient.Services

@inject IFinancesService FinancesService

<h1>All expenses</h1>

@if (operations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <OutputTable Operations="@operations" />
}

@code {
    private List<FinancialOperation> operations;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            operations = await FinancesService.GetExpenses();
        }
        catch (Exception)
        {
        }
    }
}
