@page "/incomes"

@using FinancesClient.Data
@using Microsoft.Extensions.Configuration
@using System.Net.Http;
@inject IConfiguration Configuration

<h1>All expenses</h1>

@if (operations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <OutputTable Operations="@operations" />
}

@code {
    private List<FinancialOperation> operations;
    private HttpClient Http { get; set; } = new HttpClient();

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(Configuration.GetSection("Api")["ApiUri"] + Configuration.GetSection("Api").GetSection("Methods").GetSection("GET").GetSection("AllIncomes")["Uri"]);
        Http.BaseAddress = uri;
        HttpResponseMessage response = await Http.GetAsync("");
        if (response.IsSuccessStatusCode)
        {
            operations = response.Content.ReadAsAsync<List<FinancialOperation>>().Result;
        }
    }
}