@page "/incomes"

@using FinancesClient.Data
@using FinancesClient.Services
@using Microsoft.Extensions.Logging

@inject IFinancesService FinancesService
@inject IJSRuntime JsRuntime
@inject ILogger<Incomes> Logger

<h1>All incomes</h1>

@if (operations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <OutputTable Operations="@operations" />
}

@code {
    private List<FinancialOperation> operations;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            operations = await FinancesService.GetIncomes().Launch();
        }
        catch (Exception ex)
        {
            Logger.LogWarning("No operations were found");
            operations = new List<FinancialOperation>();
        }
    }

    private async Task Alert(string message)
    {
        await JsRuntime.InvokeVoidAsync("Alert", message);
    }
}