@page "/incomes"

@using FinancesClient.Data
@using FinancesClient.Services

@inject IFinancesService FinancesService
@inject IJSRuntime JsRuntime

<h1>All incomes</h1>

@if (operations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <OutputTable Operations="@operations" />
}

@code {
    private List<FinancialOperation> operations;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            operations = await FinancesService.GetIncomes();
        }
        catch (Exception ex)
        {
            await Alert(ex.Message);
        }
    }

    private async Task Alert(string message)
    {
        await JsRuntime.InvokeVoidAsync("Alert", message);
    }
}