@page "/"

@using FinancesClient.Data
@using FinancesClient.Services

@inject IFinancesService FinancesService

<h1>All operations</h1>

@if (operations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ChangableTable Operations="@operations" OnClickChange="SetOperationToChange" OnClickDelete="DeleteOperation" />
}

@code {
    private List<FinancialOperation> operations;
    private FinancialOperation operationToChange;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            operations = await FinancesService.GetAllOperations();
        }
        catch (Exception)
        {
        }
    }

    private void SetOperationToChange(FinancialOperation operation)
    {
        operationToChange = operation;
    }

    private async Task ChangeOperation()
    {
        await FinancesService.ChangeOperation(operationToChange);
        operationToChange = null;
    }

    private async Task DeleteOperation(FinancialOperation operation)
    {
        await FinancesService.DeleteOperation(operation);
    }
}